[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
matplotlib = "*"
numpy = "*"
seaborn = "*"
scikit-learn = "*"
scipy = "*"
pandas = "*"

[dev-packages]
